In [1]:
import pandas as pd

In [9]:
# The path to our CSV file
file = "SFRCity.csv"

# Read our Kickstarter data into pandas

df = pd.read_csv((file), sep=',', encoding='latin-1')
df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,6181,New York,NY,New York-Newark-Jersey City,Queens County,1,206218.0,205985.0,205806.0,205741.0,...,670541,670017,669433,668973,668523,667859,667149,666325,665972,666005
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,189955.0,190085.0,190270.0,190523.0,...,730290,731618,733899,735418,737545,740115,743609,746534,751281,756217
2,39051,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,95290.0,95449.0,95556.0,95605.0,...,189361,189703,190233,190882,191464,191800,192277,192542,192825,192681
3,17426,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,123691.0,123363.0,123464.0,123339.0,...,220978,221305,221419,221735,221897,221747,221600,221510,221512,221752
4,6915,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,93324.0,93262.0,93249.0,93252.0,...,180401,180940,181669,182293,182885,183815,184476,185247,185445,186009

In [12]:
rdf = df.loc[:, ["RegionName", "State", "Metro",
                                    "2020-01"]]

rdf.to_csv("Housing.csv", index=False, header=True)